@import 'reset';

body{
  .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 100;
    position: fixed;
  }
  .slider{
    height: 100%;
    .slider-slick{
      position: relative;
        .slider-content{
          position: absolute;
     
        }
      img{
        height: 100%;
        
        margin: 0 auto;
      }
    }
  }

height: 1500px;
}